<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование категории</title>
</head>
<body>
      <form method="POST">
        {% csrf_token %}
        <label for="name">Название:</label><br>
        <input type="text" name="n" id="name" value="{{ supplier.name }}" required><br><br>

        <label for="contact_info">Описание:</label><br>
        <input type="text" name="d" id="contact_info" value="{{ supplier.contact_info }}"><br><br>

        <label for="address">Цена:</label><br>
        <input type="text" name="a" id="address" value="{{ supplier.address }}" required><br><br>

        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>