{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css">
        <title>Оформление заказа</title>
    </head>
    <body>
        <header class="header">
            <div class="index-banner">
                <div class="index-banner__text">
                    <h1 class="index-banner__title">Ваша корзина</h1>
                </div>
            </div>
        </header>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <h2 style="text-align: center; margin: 40px;">Товары</h2>
        <div class="products">
            {% for product in products %}
                <div class="product">
                    <form action="{% url 'authentication:cart_add' product.id %}" method="POST">
                        {% csrf_token %}
                        <p><strong>
                            {{ product.name }}</strong> — {{ product.price }} Руб.
                        </p>
                        {{ cart_product_form }}
                        <div>
                            <input type="submit" value="Добавить в корзину" class="login__button" style="font-size: 0.7rem; padding: 0.4rem 1rem; ;" >
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
        <h2 style="text-align: center; margin: 40px;">
            Ваша корзина
        </h2>
        <table class="cart">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Кол-во</th>
                    <th>Стоимость</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price }} Руб.</td>
                            <td>
                                <form action="{% url 'authentication:cart_remove' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div style="margin-bottom: 20px;">
                                        <input type="submit" value="Убрать из заказа" class="login__button" style="font-size: 0.7rem; padding: 0.4rem 1rem;">
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td><strong>Итого:</strong></td>
                    <td colspan="2"></td>
                    <td><strong>{{ cart.get_total_price }} Руб.</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="centered-container" style="margin-bottom: 40px;">
            <form method="POST" class="checkout-form">
                {% csrf_token %}
                <h2 style="text-align: center;">
                    Оформить заказ
                </h2>
                <label for="pickup_point_id" style="margin-left: 20px;">Пункт выдачи:</label>
                <select name="pickup_point_id" id="pickup_point_id">
                    {% for pickup_point in pickup_points %}
                        <option value="{{ pickup_point.id }}">{{ pickup_point.address }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="make_ord" class="login__button">Оформить заказ</button>
            </form>
        </div>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" name="back" class="login__button" value = "Назад">
        </form>
        <footer class="footer">
            <div class="foot-cop">© Harmony. All rights reserved.</div>
        </footer>
    </body>
</html>

