<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    <h1>Личный кабинет</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="products">Продукты</button><br>
        <button type="submit" name="suppliers">Продавцы</button><br>
        <button type="submit" name="categories">Категории</button><br>
        <button type="submit" name="pickup_points">Пункты выдачи</button>
        <button type="submit" name="orders">Заказы</button>
        <button type="submit" name="supports">Обращения в ТП</button>
    </form>
</body>
</html>
